@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --purple:#9C6CFE
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* 스크롤바 전체 */
::-webkit-scrollbar {
  height: 5px;   /* 세로는 width */
  width: 5px
}

/* 스크롤바 트랙 (배경) */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 20px;
}

/* 스크롤바 핸들 (움직이는 부분) */
::-webkit-scrollbar-thumb {
  background: #39D49B;   /* 원하는 색 */
  border-radius: 20px;
}
/*9C6CFE
/*

/* hover 시 색상 */
::-webkit-scrollbar-thumb:hover {
  background: #0E9E86;
}
gmp-place-details{
  background-color: rgba(255, 255, 255, 0.60); /* 85% 불투명한 흰색 */

}